.container {
    min-width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    
}

@media print {
    .myDiv {
        page-break-after: always;
        page-break-inside: avoid;
        page-break-before: avoid;  
        /*break-inside: avoid;*/
        display: block;
   }
  }


.content {
    margin-top: 20px;
}

.title1 {
    color: #8e4848;
    font-weight: 500;
}

.title2 {
    color: #8e4848;
    font-weight: 700;
}

.title3 {
    color: #8e4848;
    font-weight: 400;
}